name = "market-board-api"
main = "index.js"
compatibility_date = "2024-01-01"

# KV 绑定 - 需要先在 Cloudflare 控制台创建 KV namespace
# 然后把下面的 id 替换成你的 namespace ID
[[kv_namespaces]]
binding = "CONFIG_KV"
id = "581a1195af51480b9b65fd50826fb33b"
